<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/weexpack/ns/plugins/1.0"
    id="weex-plugin-amap"
    version="1.0.0">
    <name>weex-plugin-amap</name>
    <description>weex mapview component</description>
    <license>Apache 2.0</license>
    <keywords>weex,map</keywords>
    <repo>https://github.com/weexteam/weex-plugins</repo>
    <issue>https://github.com/weexteam/weex-plugins/issues</issue>
    <dependency id="weex-adapter-image" version="^1.0.0" />


    <!-- ios -->
    <platform name="ios">

        <config-file parent="/*" target="WeexpluginConfig.xml">
            <feature name="WXMapViewComponent">
                <param name="category" value="component"/>
                <param name="ios-package" value="WXMapViewComponent"/>
                <param name="api" value="weex-amap"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="WeexpluginConfig.xml">
            <feature name="WXMapViewModule">
                <param name="category" value="module"/>
                <param name="ios-package" value="WXMapViewModule"/>
                <param name="api" value="weex-amap"/>
            </feature>
        </config-file>


        <header-file src="ios/WXMapViewComponent.h"/>
        <source-file src="ios/WXMapViewComponent.m"/>
        <header-file src="ios/WXMapViewModule.h"/>
        <source-file src="ios/WXMapViewModule.m"/>

        <framework src="ImageIO.framework" weak="true"/>
        <framework src="CoreLocation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="AssetsLibrary.framework"/>
        <framework src="MobileCoreServices.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework spec="" src="AMap3DMap" type="podspec"/>

        <preference name="CAMERA_USAGE_DESCRIPTION" default=" "/>
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" "/>
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
            <string></string>
        </config-file>

    </platform>

               <!-- android -->
     <platform name="android">
         <config-file target="config.xml" parent="/*">
             <feature name="WXMapViewComponent">
                 <param name="category" value="component" />
                 <param name="android-package" value="com.alibaba.weex.amap.component.WXMapViewComponent" />
                 <param name="api" value="weex-amap" />
             </feature>
         </config-file>
         <config-file target="config.xml" parent="/*">
             <feature name="WXMapModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.alibaba.weex.amap.module.WXMapModule" />
                 <param name="api" value="weex-amap" />
             </feature>
         </config-file>
         <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
             <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
         </config-file>
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <meta-data
                 android:name="com.amap.api.v2.apikey"
                 android:value="db6a973159cb0c2639ad02c617a786ae" />

             <service android:name="com.amap.api.location.APSService" >
             </service>
         </config-file>
         <source-file
             src="android/plugin/src/main/java/com/alibaba/weex/amap/component/WXMapViewComponent.java"
            target-dir="src/com/alibaba/weex/amap/component" />
         <source-file
             src="android/plugin/src/main/java/com/alibaba/weex/amap/module/WXMapModule.java"
             target-dir="src/com/alibaba/weex/amap/module" />


         <source-file src="android/plugin/src/main/java/com/alibaba/weex/amap/Constant.java"
            target-dir="src/com/alibaba/weex/amap" />

         <framework src="com.amap.api:map3d-native:latest.integration" />
         <framework src="com.amap.api:map3d:latest.integration" />
         <framework src="com.amap.api:location:latest.integration" />
         <!-- <framework src="GCanvas" type="podspec" spec="" /> -->

     </platform>



</plugin>
